@use "variables" as v;
.badge {
    padding: 3px 0.5em;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--astra-blue-500);
    color: var(--astra-grey-100);
}
.root{
    max-width: 80%;
    margin: auto;
}
.root-xs{
    max-width: v.$xs;
    margin: auto;
}
.root-s{
    max-width: v.$s;
    margin: auto;
}
.root-m{
    max-width: v.$m;
    margin: auto;
}
.root-l{
    max-width: v.$l;
    margin: auto;
}
.root-xl{
    max-width: v.$xl;
    margin: auto;
}
.shadow-xs{
    filter: drop-shadow(0 3px 5px change-color($color: v.$grey-300, $alpha: 0.5));
}
.shadow-s{
    filter: drop-shadow(0 4px 5px change-color($color: v.$grey-300, $alpha: 0.5));
}
.shadow-m{
    filter: drop-shadow(0 5px 5px change-color($color: v.$grey-300, $alpha: 0.5));
}
.shadow-l{
    filter: drop-shadow(0 6px 5px change-color($color: v.$grey-300, $alpha: 0.5));
}
.shadow-xl{
    filter: drop-shadow(0 7px 5px change-color($color: v.$grey-300, $alpha: 0.5));
}
