@use "variables" as v;
@mixin btn($bg: #000, $padding: 0px, $color: v.$grey-700){
    background-color: $bg;
    padding: 0.5rem 1rem;
    @if ($padding > 0){
        padding: calc(0.5rem - $padding) calc(1rem - $padding);
    }
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s linear;
    margin: 2px;
    border: none;
    color: $color;
    &.xs{
        font-size: 80%;
        padding: 0.4rem 0.8rem;
        @if ($padding > 0){
            padding: calc(0.4rem - $padding) calc(0.8rem - $padding);
        }
    }
    &.xl{
        font-size: 120%;
        padding: 1rem 2rem;
        @if ($padding > 0){
            padding: calc(1rem - $padding) calc(2rem - $padding);
        }
    }
}
@function darken($color: #000){
    @return change-color($color: $color, $lightness: 45%);
}
button, input[type="button"], .button{
    @include btn($bg: transparent, $padding: 1px);
    border: 1px solid v.$grey-300;
    &:hover{
        border-color: v.$grey-800;
    }
    &:focus{
        outline: none !important;
    }
}
button.primary, input[type="button"].primary, .button.primary{
    @include btn($bg: v.$primary-color, $color: v.$grey-100);
    &:hover{
        background-color: darken($color: v.$primary-color);
    }
}
button.secondary, input[type="button"].secondary, .button.secondary{
    @include btn($bg: white, $padding: 1px, $color: v.$primary-color);
    border: 1px solid v.$primary-color;
    &:hover{
        border-color: darken($color: v.$primary-color);
        color: darken($color: v.$primary-color);
    }
}
button.danger, input[type="button"].danger, .button.danger{
    @include btn($bg: v.$danger-color, $color: v.$grey-100);
    &:hover{
        background-color: darken($color: v.$danger-color);
    }
}
button.warning, input[type="button"].warning, .button.warning{
    @include btn($bg: v.$warning-color, $color: v.$grey-700);
    &:hover{
        background-color: darken($color: v.$warning-color);
    }
}
a{
    cursor: pointer;
    color: v.$grey-700;
    transition: 0.1s linear;
    text-decoration: none !important;
    &:hover{
        color: v.$grey-500;
    }
}