@use "variables" as v;

pre{
    color: v.$grey-700;
    border-radius: 3px;
}
pre span{
    font-family: monospace !important;
}
.comment, .c{
    color: v.$grey-400;
}
.tag, .t{
    color: v.$tag-color;
}
.attribute, .attr{
    color: v.$attribute-color;
}
.value, .v{
    color: v.$value-color;
}
.variable, .var{
    color: v.$var-color;
}   