@use "variables" as v;
label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
.inputFooter{
    margin-top: 0.2rem;
    font-size: 14px;
    color: v.$grey-700;
}
/* Applying border and transition */
input,select,textarea.input,.select,.textarea{
    border-radius: 5px;
    padding-left: 10px;
    background-color: transparent;
    border: solid 1px v.$grey-300;
    width: 100%;
    height: 30px;
    transition: 0.1s linear;
    font-size: 15px;
}
.input:focus, input:focus,
.select:focus, select:focus,
.textarea:focus, textarea:focus{
    border: solid 1px map-get($map: v.$colors, $key: "sky");
    outline: solid 4px change-color($color: map-get($map: v.$colors, $key: "sky"), $alpha: 0.4);
}
.input[type="radio"], input[type="radio"],
.input[type="checkbox"], input[type="checkbox"]{
    height: 20px;
    width: 20px;
    border: solid 1px v.$grey-300;
}
.input[type="checkbox"] + label, input[type="checkbox"] + label,
.input[type="radio"]+label,  input[type="radio"]+label,
label .input[type="checkbox"], label input[type="checkbox"], 
label .input[type="radio"], label input[type="radio"]{
    vertical-align: top;
    padding: 0 0.5rem 0 0.25rem;
}
.input[type="search"],input[type="search"]{
    height: 35px;
    padding-left: 15px;
    width: 200px !important;
    &::placeholder{
        font-size: 15px;
    }
}
.input[type="color"], input[type="color"]{
    height: 35px;
    width: 50px;
    padding: 1px;
}
.input[type="time"], input[type="time"]{
    width: 100px;
}
.input[type="date"], input[type="date"]{
    width: 150px;
}
.input[type="datetime-local"], .input[type="week"], input[type="datetime-local"], input[type="week"]{
    width: 200px;
}
.input[type="range"]:focus, input[type="range"]:focus,
.input[type="range"]:hover, input[type="range"]:hover{
    outline: none;
    border: none;
    opacity: 1;
}
.input[type="range"], input[type="range"]{
    appearance: none;
    border: none;
    border-radius: 10px;
    height: 0.5rem;
    background-color: v.$grey-300;
    opacity: 0.7;
}
.input[type="range"]::-webkit-slider-thumb, input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    opacity: 1;
    background-color: v.$primary-color;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.input[type="file"], input[type="file"]{
    height: auto;
}
.input[type="file"]::file-selector-button,  input[type="file"]::file-selector-button,
.input[type="file"]::-webkit-file-upload-button, input[type="file"]::-webkit-file-upload-button
{
    background-color: v.$primary-color;
    border: none;
    border-right: 1px solid v.$grey-600;
    color: v.$grey-100;
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    transform: translateX(-15px);
    transition: 0.1s linear;
    z-index: 1;
} 
.input[type="file"]::file-selector-button:hover, input[type="file"]::file-selector-button:hover, 
.input[type="file"]::-webkit-file-upload-button:hover, input[type="file"]::-webkit-file-upload-button:hover{
    background-color:  map-get($map: v.$colors, $key: "sky");
}
.input[type="file"]:focus, input[type="file"]:focus, 
.input[type="radio"]:focus, input[type="radio"]:focus{
    outline: none;
}
textarea{
    padding: 10px 15px;
    resize: vertical;
    overflow-y: hidden;
    overflow-x: auto;
}
fieldset{
    outline: none;
    border: none;
}
.input:disabled, input:disabled{
    background-color: v.$grey-200;
}
.input[type="range"]:disabled:focus, 
.input[type="range"]:disabled:hover,
input[type="range"]:disabled:focus, 
input[type="range"]:disabled:hover{
    opacity: 0.7;
}
.input[type="file"]:disabled::file-selector-button, input[type="file"]:disabled::file-selector-button,
.input[type="file"]:disabled::-webkit-file-upload-button, input[type="file"]:disabled::-webkit-file-upload-button
 {
    background-color: v.$grey-500;
}
.input[type="file"]:disabled::file-selector-button:hover, input[type="file"]:disabled::file-selector-button:hover,
.input[type="file"]:disabled::-webkit-file-upload-button:hover, input[type="file"]:disabled::-webkit-file-upload-button:hover{
    background-color: v.$grey-500;
}