@use "variables" as v;

@each $name, $space in v.$spaces {
    .m-#{$name} {
        margin: $space !important;
    }
    .m-x-#{$name} {
        margin-left: $space !important;
        margin-right: $space !important;
    }
    .m-y-#{$name} {
        margin-top: $space !important;
        margin-bottom: $space !important;
    }
    .m-top-#{$name} {
        margin-top: $space !important;
    }
    .m-left-#{$name} {
        margin-left: $space !important;
    }
    .m-bottom-#{$name} {
        margin-bottom: $space !important;
    }
    .m-right-#{$name} {
        margin-right: $space!important;
    }
    
    .p-#{$name} {
        padding: $space !important;
    }
    .p-x-#{$name} {
        padding-left: $space !important;
        padding-right: $space !important;
    }
    .p-y-#{$name} {
        padding-top: $space !important;
        padding-bottom: $space !important;
    }
    .p-top-#{$name} {
        padding-top: $space !important;
    }
    .p-left-#{$name} {
        padding-left: $space !important;
    }
    .p-bottom-#{$name} {
        padding-bottom: $space !important;
    }
    .p-right-#{$name} {
        padding-right: $space !important;
    }

    .w-#{$name}{
        width: $space !important;
    }
    .h-#{$name}{
        height: $space !important;
    }

    .border-#{$name}{
        border-radius: calc($space / 3) !important;
    }
}
.w-half{
    width: 50%;
}
.w-full{
    width: 100%;
}
.h-half{
    height: 50%;
}
.h-full{
    height: 100%;
}
.h-screen{
    height: 100vh;
}
.sidebar{
    float: left;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;
}