$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$xs: 500px;
$s: 678px;
$m: 900px;
$l: 1200px;
$xl: 1440px;

$primary-color: #00a2ff;
$danger-color: #e63946;
$warning-color: #ffce08;

$grey-100: #f9f9f9;
$grey-200: #cbcbcb;
$grey-300: #bababa;
$grey-400: #767676;
$grey-500: #585858;
$grey-600: #464646;
$grey-700: #323232;
$grey-800: #202020;
$grey-900: #121212;

$colors: (
    "red": #d62828,
    "orange": #f77f00,
    "yellow": #ffbe0b,
    "lime": #89fc00,
    "green": #2a9d8f,
    "sky": #00b4d8,
    "blue": #004e89,
    "violet": #4e148c,
    "pink": #fe5d9f,
    "zinc": #c5c9ce,
);
$spaces: (
    1: 5px,
    2: 10px,
    3: 16px,
    4: 32px,
    5: 64px
);

$tag-color : #e63946;
$attribute-color: #14746f;
$value-color: #118ab2;
$var-color: #e63946;

$animation-time: 1;