$colors : ("red":red,
    "orange":orange,
    "gold":gold,
    "lime": #80ed99,
    "green": green,
    "sky": lightblue,
    "blue": blue,
    "violet": violet,
    "pink": pink,
    "gray": gray);

@each $name,
$color in $colors {
    .text-#{$name} {
        color: $color !important;
    }

    .bg-#{$name} {
        background-color: $color !important;
    }
}