:root{
    --astra-red-100: #d0aaaa; 
    --astra-red-200: #d09999; 
    --astra-red-300: #d06666; 
    --astra-red-400: #d03333; 
    --astra-red-500: #d00000; 
    --astra-red-600: #af0000; 
    --astra-red-700: #840000; 
    --astra-red-800: #570000; 
    --astra-red-900: #340000; 
    --astra-orange-100: #f1d3b0; 
    --astra-orange-200: #ecc8a2; 
    --astra-orange-300: #f5ba7b; 
    --astra-orange-400: #f69d3f; 
    --astra-orange-500: #f77f00; 
    --astra-orange-600: #c46500; 
    --astra-orange-700: #a15300; 
    --astra-orange-800: #6d3800; 
    --astra-orange-900: #472500; 
    --astra-yellow-100: #f3ebd6; 
    --astra-yellow-200: #efd591; 
    --astra-yellow-300: #ffde83; 
    --astra-yellow-400: #ffce49; 
    --astra-yellow-500: #ffbc0a; 
    --astra-yellow-600: #c49104; 
    --astra-yellow-700: #9b7305; 
    --astra-yellow-800: #755705; 
    --astra-yellow-900: #423102; 
    --astra-green-100: #d5ebb3; 
    --astra-green-200: #cfef9b; 
    --astra-green-300: #c4f27a; 
    --astra-green-400: #acf13c; 
    --astra-green-500: #9ef01a; 
    --astra-green-600: #86cd15; 
    --astra-green-700: #6ca313; 
    --astra-green-800: #517b0e; 
    --astra-green-900: #2e4607; 
    --astra-turquoise-100: #a7c9c2; 
    --astra-turquoise-200: #8ec6ba; 
    --astra-turquoise-300: #68c3af; 
    --astra-turquoise-400: #3ac5a7; 
    --astra-turquoise-500: #02c39a; 
    --astra-turquoise-600: #009a78; 
    --astra-turquoise-700: #008064; 
    --astra-turquoise-800: #005745; 
    --astra-turquoise-900: #003025; 
    --astra-aqua-100: #b7dfee; 
    --astra-aqua-200: #a9dfef; 
    --astra-aqua-300: #88d7ef; 
    --astra-aqua-400: #45cdf6; 
    --astra-aqua-500: #1EC4F5; 
    --astra-aqua-600: #18a2cd; 
    --astra-aqua-700: #158baf; 
    --astra-aqua-800: #0d5f78; 
    --astra-aqua-900: #073948; 
    --astra-blue-100: #aac1d7; 
    --astra-blue-200: #7ea3c9; 
    --astra-blue-300: #5c8cbd; 
    --astra-blue-400: #327cc6; 
    --astra-blue-500: #0466c8; 
    --astra-blue-600: #0351a0; 
    --astra-blue-700: #064787; 
    --astra-blue-800: #032f5b; 
    --astra-blue-900: #021f3b; 
    --astra-violet-100: #be9ed7; 
    --astra-violet-200: #b893d6; 
    --astra-violet-300: #ac6ede; 
    --astra-violet-400: #9d4edd; 
    --astra-violet-500: #7e14d5; 
    --astra-violet-600: #630ea9; 
    --astra-violet-700: #4c0b81; 
    --astra-violet-800: #400a6c; 
    --astra-violet-900: #23043a; 
    --astra-pink-100: #ffcbdc; 
    --astra-pink-200: #ffabc5; 
    --astra-pink-300: #ff8fb3; 
    --astra-pink-400: #ff5d8f; 
    --astra-pink-500: #f02a68; 
    --astra-pink-600: #cf144f; 
    --astra-pink-700: #8f0c35; 
    --astra-pink-800: #72082a; 
    --astra-pink-900: #370414; 
    --astra-grey-100: #f5f5f5; 
    --astra-grey-200: #e0e0e0; 
    --astra-grey-300: #b8b8b8; 
    --astra-grey-400: #b0b0b0; 
    --astra-grey-500: #7c7c7c; 
    --astra-grey-600: #606060; 
    --astra-grey-700: #3f3f3f; 
    --astra-grey-800: #2b2b2b; 
    --astra-grey-900: #1a1a1b; 
    --astra-body-font: system-ui, 'Roboto', sans-serif; 
    --astra-code-font: monospace; 
    --astra-highlight-bg: #fdebd0; 
    --primary: #00FFFF; 
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
hr,
input {
    overflow: visible
}

progress,
sub,
sup {
    vertical-align: baseline
}

details {
    display: block
}

hr {
    box-sizing: content-box;
    height: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

button,
select {
    text-transform: none
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: ButtonText dotted 1px
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px
}

::-webkit-file-upload-button {
    font: inherit
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    display: block;
    font-family: var(--astra-body-font);
    font-weight: 400;
}

h1 , h2 , h3 , h4 , h5 , h6 , .h1 , .h2 , .h3 , .h4 , .h5 , .h6 {
    margin: 0.2rem 0 0.8rem 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1.25;
    font-weight: 500;
    color: var(--astra-grey-800);
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-weight: 300;
    margin-bottom: 1rem;
}

.display-1 {
    font-size: 50pt;
}

.display-2 {
    font-size: 45pt;
}

.display-3 {
    font-size: 40pt;
}

.display-4 {
    font-size: 35pt;
}

.display-5 {
    font-size: 30pt;
}

.display-6 {
    font-size: 25pt;
}

h1 , .h1 {
    font-size: 33pt;
}

h2 , .h2 {
    font-size: 25pt;
}

h3 , .h3 {
    font-size: 20pt;
}

h4 , .h4 {
    font-size: 17pt;
}

h5 , .h5 {
    font-size: 14pt;
}

h6 , .h6 {
    font-size: 11pt;
}

p , a {
    font-size: 16px;
    margin-bottom: 0.8rem;
    line-height: 130%;
}

a { 
    cursor: pointer;
    color: var(--astra-blue-500);
    transition: 0.5s linear;
    text-decoration: none;
    background-color: transparent;
}

.lead {
    font-size: 24px;
    font-weight: 300;
}

mark {
    padding: 0.25rem;
    background-color: var(--astra-highlight-bg);
}

del {
    text-decoration: line-through;
}

b,
strong,
.b,
.bold {
    font-weight: 700 !important;
    color: var(--astra-grey-700);
}

.semiBold {
    font-weight: 600 !important;
}

i,
em,
.i {
    font-style: italic;
}

hr {
    background-color: var(--astra-grey-300);
    width: 100%;
    margin: 0.25rem 0 0.5rem 0;
}

blockquote {
    display: block;
    margin-bottom: 1rem;
}

blockquote p{
    font-size: 1.2rem;
    margin: 0 0 0 0.25rem;
}

blockquote footer,
.bq-footer,
.bqFooter {
    font-size: 1.2rem;
    color: var(--astra-grey-500);
}

li {
    list-style-position: inside;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--astra-grey-600);
}

ul {
    list-style-type: circle;
    margin-bottom: 0.5rem;
}

ol {
    margin-bottom: 0.5rem;
}

.unmarked {
    list-style-type: none;
    padding-left: 1rem;
}

.badge {
    padding: 3px 0.5em;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--astra-blue-500);
    color: var(--astra-grey-100);
}

.footerText {
    margin: 0;
    padding: 1.5rem;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

.inlineFlex {
    display: inline-flex;
}

.hidden {
    display: hidden;
}

.none{
    display: none;
}

.root {
    max-width: 75%;
    margin: 0 auto;
}

.rootXS {
    max-width: 600px;
    margin: 0 auto;
}

.rootS {
    max-width: 768px;
    margin: 0 auto;
}

.rootM {
    max-width: 992px;
    margin: 0 auto;
}

.rootL {
    max-width: 1200px;
    margin: 0 auto;
}

.rootXL {
    max-width: 1440px;
    margin: 0 auto;
}

.rootFull {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.centerY {
    align-items: center;
}

.centerX {
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.around{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}

.stretch{
    justify-content: stretch;
}

.evenly{
    justify-content: space-evenly;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.textLeft {
    text-align: left;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.flex,
.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRowReverse {
    display: flex;
    flex-direction: row-reverse;
}

.flexColumnReverse {
    display: flex;
    flex-direction: column-reverse;
}

.wrap {
    flex-wrap: wrap;
}

.noWrap {
    flex-wrap: nowrap;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

.stickyTop{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.stickyBottom {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}

.stickyLeft {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
}

.stickyRight {
    position: sticky;
    position: -webkit-sticky;
    right: 0;
}

.row {
    display: flex;
}

.column {
    flex: 1 0 0%;
}

.overflow {
    overflow: auto;
}

.overflowX {
    overflow-x: auto;
}

.overflowY {
    overflow-y: auto;
}

.overflowNone {
    overflow: hidden;
}

.spaceXS {
    display: hidden;
    height: 10px;
    width: 100%;
}

.spaceS {
    display: hidden;
    height: 25px;
    width: 100%;
}

.spaceM {
    display: hidden;
    height: 50px;
    width: 100%;
}

.spaceL {
    display: hidden;
    height: 100px;
    width: 100%;
}

.spaceXL {
    display: hidden;
    height: 250px;
    width: 100%;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table * {
    padding: 10px 2px;
    outline: none;
    border: none;
}

.table.striped>*>tr>th {
    border-bottom: 1px solid var(--astra-grey-300);
    background-color: var(--astra-grey-200);
}

.table.striped>tbody>tr:nth-of-type(odd)>* {
    background-color: var(--astra-grey-100);
}

.table>tbody>tr>th {
    font-weight: 400;
}

.table>tbody>tr>:nth-child(1) {
    font-weight: bold;
    width: 40px;
}

.table.dark {
    background-color: var(--astra-grey-900);
    color: var(--astra-grey-100);
}

.table.striped.dark {
    background-color: var(--astra-grey-900);
    color: var(--astra-grey-100);
}

.table.striped.dark>*>tr>th {
    border-bottom: 1px solid var(--astra-grey-700);
    background-color: var(--astra-grey-900);
}

.table.striped.dark>tbody>tr:nth-of-type(odd)>* {
    background-color: var(--astra-grey-800);
}

.table.border {
    border-top: 1px solid var(--astra-grey-300);
    border-left: 1px solid var(--astra-grey-300);
}

.table.border>*>tr>th {
    border-right: 1px solid var(--astra-grey-300);
    border-bottom: 1px solid var(--astra-grey-300);
}

.table.dark.border {
    border-top: 1px solid var(--astra-grey-600);
    border-left: 1px solid var(--astra-grey-600);
}

.table.dark.border>*>tr>th {
    border-right: 1px solid var(--astra-grey-600);
    border-bottom: 1px solid var(--astra-grey-600);
}