---
import "../../../sass/boreas-ui.scss";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boreas UI</title>
    <link href="" lang="scss" type="stylesheet" />
  </head>
  <body>
    <div class="b-style">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br /> Voluptatum
        nisi laudantium eaque fugiat esse quis natus suscipit corporis autem! Ut
        voluptatibus, beatae perferendis pariatur voluptatem rerum alias architecto!
        <br /> Et, atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        <br />Placeat, assumenda eius ut, ipsum numquam error quod nesciunt
        beatae natus vero illum consequatur excepturi quasi nam quae molestias
        dignissimos, sunt omnis.
      </p>
    </div>
  </body>
</html>
