@use "variables" as v;
@import "./normalize.css";

*, *::after, *::before{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    padding: 0 5%;
}
h1, .h1{
    font-size: 3.5rem;
    margin: 1.5rem 0;
}
h2, .h2{
    font-size: 2.5rem;
    margin: 1.25rem 0;
}
h3, .h3{
    font-size: 2rem;
    margin: 1.1rem 0;
}
h4, .h4{
    font-size: 1.75rem;
    margin: 1rem 0;
}
h5, .h5{
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
h6, .h6{
    font-size: 1.25rem;
    margin: 0.5rem 0;
}
@mixin btn($bg: #000000, $padding: 0px){
    background-color: $bg;
    padding: 0.5rem 1rem;
    @if ($padding > 0){
        padding: calc(0.5rem - $padding) calc(1rem - $padding);
    }
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.1s linear;
    margin: 2px;
    border: none;
}
button, input[type="button"], .button{
    @include btn($bg: transparent, $padding: 1px);
    border: 1px solid v.$grey-300;
    &:hover{
        border-color: v.$grey-800;
    }
    &[xl]{
        padding: calc(1rem - 1px) calc(2rem - 1px);
        font-size: 120%;
    }
    &[xs]{
        padding: calc(0.4rem - 1px) calc(0.8rem - 1px);
        font-size: 80%;
    }
}
button.primary, input[type="button"].primary{
    @include btn($bg: v.$primary-color, $padding: 0);
    color: white;
    &:hover{
        background-color: change-color($color: v.$primary-color, $lightness: 45%)
    }
    &[xl]{
        padding: 1rem 2rem;
        font-size: 120%;
    }
    &[xs]{
        padding: 0.4rem 0.8rem;
        font-size: 80%;
    }
}
button.secondary, input[type="button"].secondary{
    @include btn($bg: white, $padding: 1px);

    color: v.$primary-color;
    border: 1px solid v.$primary-color;
    &:hover{
        border-color: change-color($color: v.$primary-color, $lightness: 45%);
        color: change-color($color: v.$primary-color, $lightness: 45%);
    }
    &[xl]{
        padding: calc(1rem - 1px) calc(2rem - 1px);
        font-size: 120%;
    }
    &[xs]{
        padding: calc(0.4rem - 1px) calc(0.8rem - 1px);
        font-size: 80%;
    }
}
button.danger, input[type="button"].danger{
    @include btn($bg: v.$danger-color, $padding: 0);

    color: white;
    &:hover{
        background-color: change-color($color: v.$danger-color, $lightness: 45%)
    }
    &[xl]{
        padding: 1rem 2rem;
        font-size: 120%;
    }
    &[xs]{
        padding: 0.4rem 0.8rem;
        font-size: 80%;
    }
}
button.warning, input[type="button"].warning{
    @include btn($bg: v.$warning-color, $padding: 0);

    color: v.$grey-700;
    &:hover{
        background-color: change-color($color: v.$warning-color, $lightness: 45%)
    }
    &[xl]{
        padding: 1rem 2rem;
        font-size: 120%;
    }
    &[xs]{
        padding: 0.4rem 0.8rem;
        font-size: 80%;
    }
}
a{
    cursor: pointer;
    color: v.$grey-700;
    transition: 0.1s linear;
    &:hover{
        color: v.$grey-500;
    }
}
.sticky-top{
    position: sticky;
    top: 0;
}

@mixin flex($direction: row, $justify: start, $align: baseline){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: baseline;
}
.flex{
    @include flex();
}
.flex.column{
    @include flex($direction: column);
}
.flex.reverse{
    @include flex($direction: row-reverse);
}
.flex.column.reverse{
    @include flex($direction: column-reverse);
}
.flex.justify-center{
    justify-content: center;
}
.flex.justify-baseline{
    justify-content: baseline;
}