@use "variables" as v;

.bg-grey-100{
    background-color: v.$grey-100;
}
.bg-grey-200{
    background-color: v.$grey-200;
}
.bg-grey-300{
    background-color: v.$grey-300;
}
.bg-grey-400{
    background-color: v.$grey-400;
}
.bg-grey-500{
    background-color: v.$grey-500;
}
.bg-grey-600{
    background-color: v.$grey-600;
}
.bg-grey-700{
    background-color: v.$grey-700;
}
.bg-grey-800{
    background-color: v.$grey-800;
}
.bg-grey-900{
    background-color: v.$grey-900;
}
.bg-red-100{
    background-color: v.$red-100;
}
.bg-red-200{
    background-color: v.$red-200;
}
.bg-red-300{
    background-color: v.$red-300;
}
.bg-red-400{
    background-color: v.$red-400;
}
.bg-red-500{
    background-color: v.$red-500;
}
.bg-red-600{
    background-color: v.$red-600;
}
.bg-red-700{
    background-color: v.$red-700;
}
.bg-red-800{
    background-color: v.$red-800;
}
.bg-red-900{
    background-color: v.$red-900;
}
.bg-orange-100{
    background-color: v.$orange-100;
}
.bg-orange-200{
    background-color: v.$orange-200;
}
.bg-orange-300{
    background-color: v.$orange-300;
}
.bg-orange-400{
    background-color: v.$orange-400;
}
.bg-orange-500{
    background-color: v.$orange-500;
}
.bg-orange-600{
    background-color: v.$orange-600;
}
.bg-orange-700{
    background-color: v.$orange-700;
}
.bg-orange-800{
    background-color: v.$orange-800;
}
.bg-orange-900{
    background-color: v.$orange-900;
}