$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$xs: 500px;
$s: 678px;
$m: 900px;
$l: 1200px;
$xl: 1440px;

$primary-color: #00a2ff;
$danger-color: #e63946;
$warning-color: #ffce08;

$grey-100: #ededed;
$grey-200: #cbcbcb;
$grey-300: #bababa;
$grey-400: #767676;
$grey-500: #585858;
$grey-600: #464646;
$grey-700: #323232;
$grey-800: #202020;
$grey-900: #121212;