@import "./normalize.css";
*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0 5%;
}

h1, .h1 {
  font-size: 3.5rem;
  margin: 1.5rem 0;
}

h2, .h2 {
  font-size: 2.5rem;
  margin: 1.25rem 0;
}

h3, .h3 {
  font-size: 2rem;
  margin: 1.1rem 0;
}

h4, .h4 {
  font-size: 1.75rem;
  margin: 1rem 0;
}

h5, .h5 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

h6, .h6 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

button, input[type=button], .button {
  background-color: transparent;
  padding: 0.5rem 1rem;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  border: 1px solid #bababa;
}
button:hover, input[type=button]:hover, .button:hover {
  border-color: #202020;
}
button[xl], input[type=button][xl], .button[xl] {
  padding: calc(1rem - 1px) calc(2rem - 1px);
  font-size: 120%;
}
button[xs], input[type=button][xs], .button[xs] {
  padding: calc(0.4rem - 1px) calc(0.8rem - 1px);
  font-size: 80%;
}

button.primary, input[type=button].primary {
  background-color: #00a2ff;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: white;
}
button.primary:hover, input[type=button].primary:hover {
  background-color: #0092e6;
}
button.primary[xl], input[type=button].primary[xl] {
  padding: 1rem 2rem;
  font-size: 120%;
}
button.primary[xs], input[type=button].primary[xs] {
  padding: 0.4rem 0.8rem;
  font-size: 80%;
}

button.secondary, input[type=button].secondary {
  background-color: white;
  padding: 0.5rem 1rem;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: #00a2ff;
  border: 1px solid #00a2ff;
}
button.secondary:hover, input[type=button].secondary:hover {
  border-color: #0092e6;
  color: #0092e6;
}
button.secondary[xl], input[type=button].secondary[xl] {
  padding: calc(1rem - 1px) calc(2rem - 1px);
  font-size: 120%;
}
button.secondary[xs], input[type=button].secondary[xs] {
  padding: calc(0.4rem - 1px) calc(0.8rem - 1px);
  font-size: 80%;
}

button.danger, input[type=button].danger {
  background-color: #e63946;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: white;
}
button.danger:hover, input[type=button].danger:hover {
  background-color: #cc1a27;
}
button.danger[xl], input[type=button].danger[xl] {
  padding: 1rem 2rem;
  font-size: 120%;
}
button.danger[xs], input[type=button].danger[xs] {
  padding: 0.4rem 0.8rem;
  font-size: 80%;
}

button.warning, input[type=button].warning {
  background-color: #ffce08;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: #323232;
}
button.warning:hover, input[type=button].warning:hover {
  background-color: #e6b800;
}
button.warning[xl], input[type=button].warning[xl] {
  padding: 1rem 2rem;
  font-size: 120%;
}
button.warning[xs], input[type=button].warning[xs] {
  padding: 0.4rem 0.8rem;
  font-size: 80%;
}

a {
  cursor: pointer;
  color: #323232;
  transition: 0.1s linear;
}
a:hover {
  color: #585858;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

.flex.column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: baseline;
}

.flex.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: baseline;
}

.flex.column.reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: baseline;
}

.flex.justify-center {
  justify-content: center;
}

.flex.justify-baseline {
  justify-content: baseline;
}/*# sourceMappingURL=astra.css.map */