@import "./normalize.css";
*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1, .h1 {
  font-size: 3.5rem;
  margin: 1.5rem 0;
}

h2, .h2 {
  font-size: 2.5rem;
  margin: 1.25rem 0;
}

h3, .h3 {
  font-size: 2rem;
  margin: 1.1rem 0;
}

h4, .h4 {
  font-size: 1.75rem;
  margin: 1rem 0;
}

h5, .h5 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

h6, .h6 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

button, input[type=button], .button {
  background-color: transparent;
  padding: 0.5rem 1rem;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: #323232;
  border: 1px solid #bababa;
}
button.xs, input[type=button].xs, .button.xs {
  font-size: 80%;
  padding: 0.4rem 0.8rem;
  padding: calc(0.4rem - 1px) calc(0.8rem - 1px);
}
button.xl, input[type=button].xl, .button.xl {
  font-size: 120%;
  padding: 1rem 2rem;
  padding: calc(1rem - 1px) calc(2rem - 1px);
}
button:hover, input[type=button]:hover, .button:hover {
  border-color: #202020;
}

button.primary, input[type=button].primary, .button.primary {
  background-color: #00a2ff;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: #ededed;
}
button.primary.xs, input[type=button].primary.xs, .button.primary.xs {
  font-size: 80%;
  padding: 0.4rem 0.8rem;
}
button.primary.xl, input[type=button].primary.xl, .button.primary.xl {
  font-size: 120%;
  padding: 1rem 2rem;
}
button.primary:hover, input[type=button].primary:hover, .button.primary:hover {
  background-color: #0092e6;
}

button.secondary, input[type=button].secondary, .button.secondary {
  background-color: white;
  padding: 0.5rem 1rem;
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: #00a2ff;
  border: 1px solid #00a2ff;
}
button.secondary.xs, input[type=button].secondary.xs, .button.secondary.xs {
  font-size: 80%;
  padding: 0.4rem 0.8rem;
  padding: calc(0.4rem - 1px) calc(0.8rem - 1px);
}
button.secondary.xl, input[type=button].secondary.xl, .button.secondary.xl {
  font-size: 120%;
  padding: 1rem 2rem;
  padding: calc(1rem - 1px) calc(2rem - 1px);
}
button.secondary:hover, input[type=button].secondary:hover, .button.secondary:hover {
  border-color: #0092e6;
  color: #0092e6;
}

button.danger, input[type=button].danger, .button.danger {
  background-color: #e63946;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: #ededed;
}
button.danger.xs, input[type=button].danger.xs, .button.danger.xs {
  font-size: 80%;
  padding: 0.4rem 0.8rem;
}
button.danger.xl, input[type=button].danger.xl, .button.danger.xl {
  font-size: 120%;
  padding: 1rem 2rem;
}
button.danger:hover, input[type=button].danger:hover, .button.danger:hover {
  background-color: #cc1a27;
}

button.warning, input[type=button].warning, .button.warning {
  background-color: #ffce08;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s linear;
  margin: 2px;
  border: none;
  color: #323232;
}
button.warning.xs, input[type=button].warning.xs, .button.warning.xs {
  font-size: 80%;
  padding: 0.4rem 0.8rem;
}
button.warning.xl, input[type=button].warning.xl, .button.warning.xl {
  font-size: 120%;
  padding: 1rem 2rem;
}
button.warning:hover, input[type=button].warning:hover, .button.warning:hover {
  background-color: #e6b800;
}

a {
  cursor: pointer;
  color: #323232;
  transition: 0.1s linear;
}
a:hover {
  color: #585858;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.root {
  max-width: 80%;
  margin: auto;
}

.rootXS {
  max-width: 500px;
  margin: auto;
}

.rootS {
  max-width: 678px;
  margin: auto;
}

.rootM {
  max-width: 900px;
  margin: auto;
}

.rootL {
  max-width: 1200px;
  margin: auto;
}

.rootXL {
  max-width: 1440px;
  margin: auto;
}

.bg-grey-100 {
  background-color: #ededed;
}

.bg-grey-200 {
  background-color: #cbcbcb;
}

.bg-grey-300 {
  background-color: #bababa;
}

.bg-grey-400 {
  background-color: #767676;
}

.bg-grey-500 {
  background-color: #585858;
}

.bg-grey-600 {
  background-color: #464646;
}

.bg-grey-700 {
  background-color: #323232;
}

.bg-grey-800 {
  background-color: #202020;
}

.bg-grey-900 {
  background-color: #121212;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex.reverse {
  flex-direction: row-reverse;
}

.flex.column-reverse {
  flex-direction: column-reverse;
}

.flex.no-wrap {
  flex-wrap: nowrap;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-stretch {
  justify-content: stretch;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}/*# sourceMappingURL=astra.css.map */