:root{
    --astra-red-100: #d0aaaa; 
    --astra-red-200: #d09999; 
    --astra-red-300: #d06666; 
    --astra-red-400: #d03333; 
    --astra-red-500: #d00000; 
    --astra-red-600: #af0000; 
    --astra-red-700: #840000; 
    --astra-red-800: #570000; 
    --astra-red-900: #340000; 
    --astra-orange-100: #f1d3b0; 
    --astra-orange-200: #ecc8a2; 
    --astra-orange-300: #f5ba7b; 
    --astra-orange-400: #f69d3f; 
    --astra-orange-500: #f77f00; 
    --astra-orange-600: #c46500; 
    --astra-orange-700: #a15300; 
    --astra-orange-800: #6d3800; 
    --astra-orange-900: #472500; 
    --astra-yellow-100: #f3ebd6; 
    --astra-yellow-200: #efd591; 
    --astra-yellow-300: #ffde83; 
    --astra-yellow-400: #ffce49; 
    --astra-yellow-500: #ffbc0a; 
    --astra-yellow-600: #c49104; 
    --astra-yellow-700: #9b7305; 
    --astra-yellow-800: #755705; 
    --astra-yellow-900: #423102; 
    --astra-green-100: #d5ebb3; 
    --astra-green-200: #cfef9b; 
    --astra-green-300: #c4f27a; 
    --astra-green-400: #acf13c; 
    --astra-green-500: #9ef01a; 
    --astra-green-600: #86cd15; 
    --astra-green-700: #6ca313; 
    --astra-green-800: #517b0e; 
    --astra-green-900: #2e4607; 
    --astra-turquoise-100: #a7c9c2; 
    --astra-turquoise-200: #8ec6ba; 
    --astra-turquoise-300: #68c3af; 
    --astra-turquoise-400: #3ac5a7; 
    --astra-turquoise-500: #02c39a; 
    --astra-turquoise-600: #009a78; 
    --astra-turquoise-700: #008064; 
    --astra-turquoise-800: #005745; 
    --astra-turquoise-900: #003025; 
    --astra-aqua-100: #b7dfee; 
    --astra-aqua-200: #a9dfef; 
    --astra-aqua-300: #88d7ef; 
    --astra-aqua-400: #45cdf6; 
    --astra-aqua-500: #1EC4F5; 
    --astra-aqua-600: #18a2cd; 
    --astra-aqua-700: #158baf; 
    --astra-aqua-800: #0d5f78; 
    --astra-aqua-900: #073948; 
    --astra-blue-100: #aac1d7; 
    --astra-blue-200: #7ea3c9; 
    --astra-blue-300: #5c8cbd; 
    --astra-blue-400: #327cc6; 
    --astra-blue-500: #0466c8; 
    --astra-blue-600: #0351a0; 
    --astra-blue-700: #064787; 
    --astra-blue-800: #032f5b; 
    --astra-blue-900: #021f3b; 
    --astra-violet-100: #be9ed7; 
    --astra-violet-200: #b893d6; 
    --astra-violet-300: #ac6ede; 
    --astra-violet-400: #9d4edd; 
    --astra-violet-500: #7e14d5; 
    --astra-violet-600: #630ea9; 
    --astra-violet-700: #4c0b81; 
    --astra-violet-800: #400a6c; 
    --astra-violet-900: #23043a; 
    --astra-pink-100: #ffcbdc; 
    --astra-pink-200: #ffabc5; 
    --astra-pink-300: #ff8fb3; 
    --astra-pink-400: #ff5d8f; 
    --astra-pink-500: #f02a68; 
    --astra-pink-600: #cf144f; 
    --astra-pink-700: #8f0c35; 
    --astra-pink-800: #72082a; 
    --astra-pink-900: #370414; 
    --astra-grey-100: #f5f5f5; 
    --astra-grey-200: #e0e0e0; 
    --astra-grey-300: #b8b8b8; 
    --astra-grey-400: #b0b0b0; 
    --astra-grey-500: #7c7c7c; 
    --astra-grey-600: #606060; 
    --astra-grey-700: #3f3f3f; 
    --astra-grey-800: #2b2b2b; 
    --astra-grey-900: #1a1a1b; 
    --astra-body-font: system-ui, 'Roboto', sans-serif; 
    --astra-code-font: monospace; 
    --astra-highlight-bg: #fdebd0; 
    --primary: #00FFFF; 
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-file-upload-button {
    font: inherit
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    display: block;
    font-family: var(--astra-body-font);
    font-weight: 400;
}

.root {
    max-width: 75%;
    margin: 0 auto;
}

.absolute {
    position: absolute;
} 
.bg\(--astra-red-300\){
    background-color: var(--astra-red-300);
} 
.bg\(\#333333\){
    background-color: #333333;
} 
.w\(200px\){
    width: 200px;
} 
.h\(200px\){
    height: 200px;
} 
.top\(150px\){
    top: 150px;
}
