---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://github.com/ImLecus/Boreas-UI/blob/main/dist/boreas-ui.min.css"
      type="text/css"
    />
  </head>
  <body class="b-style">
    <slot />
  </body>
</html>
