button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}[type="file"] {height: auto !important;}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}details,main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --astra-body-font: system-ui, 'Roboto', sans-serif;
    --astra-code-font: monospace;
    --astra-highlight-bg: #FDEBD0;
    --astra-code-color: #ed3a6a;
    --astra-red-100: #d0aaaa;
    --astra-red-200: #d09999;
    --astra-red-300: #d06666;
    --astra-red-400: #d03333;
    --astra-red-500: #d00000;
    --astra-red-600: #af0000;
    --astra-red-700: #840000;
    --astra-red-800: #570000;
    --astra-red-900: #340000; 
    --astra-orange-100: #f1d3b0;
    --astra-orange-200: #ecc8a2;
    --astra-orange-300: #f5ba7b;
    --astra-orange-400: #f69d3f;
    --astra-orange-500: #f77f00;
    --astra-orange-600: #c46500;
    --astra-orange-700: #a15300;
    --astra-orange-800: #6d3800;
    --astra-orange-900: #472500;
    --astra-yellow-100: #f3ebd6;
    --astra-yellow-200: #efd591;
    --astra-yellow-300: #ffde83;
    --astra-yellow-400: #ffce49;
    --astra-yellow-500: #ffbc0a;
    --astra-yellow-600: #c49104;
    --astra-yellow-700: #9b7305;
    --astra-yellow-800: #755705;
    --astra-yellow-900: #423102;
    --astra-green-100: #d5ebb3;
    --astra-green-200: #cfef9b;
    --astra-green-300: #c4f27a;
    --astra-green-400: #acf13c;
    --astra-green-500: #9ef01a;
    --astra-green-600: #86cd15;
    --astra-green-700: #6ca313;
    --astra-green-800: #517b0e;
    --astra-green-900: #2e4607;
    --astra-turquoise-100: #a7c9c2;
    --astra-turquoise-200: #8ec6ba;
    --astra-turquoise-300: #68c3af;
    --astra-turquoise-400: #3ac5a7;
    --astra-turquoise-500: #02c39a;
    --astra-turquoise-600: #009a78;
    --astra-turquoise-700: #008064;
    --astra-turquoise-800: #005745;
    --astra-turquoise-900: #003025;
    --astra-lightBlue-100: #b7dfee;
    --astra-lightBlue-200: #a9dfef;
    --astra-lightBlue-300: #88d7ef;
    --astra-lightBlue-400: #45cdf6;
    --astra-lightBlue-500: #1EC4F5;
    --astra-lightBlue-600: #18a2cd;
    --astra-lightBlue-700: #158baf;
    --astra-lightBlue-800: #0d5f78;
    --astra-lightBlue-900: #073948;
    --astra-blue-100: #aac1d7;
    --astra-blue-200: #7ea3c9;
    --astra-blue-300: #5c8cbd;
    --astra-blue-400: #327cc6;
    --astra-blue-500: #0466c8;
    --astra-blue-600: #0351a0;
    --astra-blue-700: #064787;
    --astra-blue-800: #032f5b;
    --astra-blue-900: #021f3b;
    --astra-violet-100: #be9ed7;
    --astra-violet-200: #b893d6;
    --astra-violet-300: #ac6ede;
    --astra-violet-400: #9d4edd;
    --astra-violet-500: #7e14d5;
    --astra-violet-600: #630ea9;
    --astra-violet-700: #4c0b81;
    --astra-violet-800: #400a6c;
    --astra-violet-900: #23043a;
    --astra-pink-100: #ffcbdc;
    --astra-pink-200: #ffabc5;
    --astra-pink-300: #ff8fb3;
    --astra-pink-400: #ff5d8f;
    --astra-pink-500: #f02a68;
    --astra-pink-600: #cf144f;
    --astra-pink-700: #8f0c35;
    --astra-pink-800: #72082a;
    --astra-pink-900: #370414;
    --astra-grey-100: #f5f5f5;
    --astra-grey-200: #e0e0e0;
    --astra-grey-300: #b8b8b8;
    --astra-grey-400: #b0b0b0;
    --astra-grey-500: #7c7c7c;
    --astra-grey-600: #606060;
    --astra-grey-700: #3f3f3f;
    --astra-grey-800: #2b2b2b;
    --astra-grey-900: #1a1a1b;

    --astra-distance-1: 4px;
    --astra-distance-2: 10px;
    --astra-distance-3: 1rem;
    --astra-distance-4: 1.5rem;
    --astra-distance-5: 2rem;
}
body{
    font-family: var(--astra-body-font);
    font-weight: 400;
}
/* TYPOGRAPHY */
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    margin: 0.2rem 0 0.8rem 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1.25;
    font-weight: 500;
    color:var(--astra-grey-800);
}
.display-1,.display-2,.display-3,.display-4,.display-5,.display-6{
    font-weight: 300;
    margin-bottom: 1rem;
}
.display-1{
    font-size: 50pt;
}
.display-2{
    font-size: 45pt;
}
.display-3{
    font-size: 40pt;
}
.display-4{
    font-size: 35pt;
}
.display-5{
    font-size: 30pt;
}
.display-6{
    font-size: 25pt;
}
h1,.h1 {
    font-size: 33pt;
}
h2,.h2 {
    font-size: 25pt;
}
h3,.h3 {
    font-size: 20pt;
}
h4,.h4 {
    font-size: 17pt;
}
h5,.h5{
    font-size: 14pt;
}
h6,.h6{
    font-size: 11pt;
}
p,a{
    font-size: 16px;
    margin-bottom: 0.8rem;
}
a{
    cursor: pointer;
    color: var(--astra-blue-500);
    transition: 0.5s linear;
    text-decoration: none;
}
a:hover{
    color: var(--astra-lightBlue-600);
}
.lead{
    font-size: 24px;
    font-weight: 300;
}
mark{
    padding: 0.25rem;
    background-color:var(--astra-highlight-bg);
}
del{
    text-decoration: line-through;
}
b,strong,.b, .bold{
    font-weight: 700 !important;
}
.semiBold{
    font-weight: 600 !important;
}
i,em,.i{
    font-style: italic;
}
hr {
    background-color: var(--astra-grey-300);
    width: 100%;
    margin: 0.25rem 0 0.5rem 0;
}
blockquote{
    display: block;
    margin-bottom: 1rem;
}
blockquote p{
    font-size: 1.2rem;
    margin: 0 0 0 0.25rem;
}
blockquote footer, .bq-footer, .bqFooter{
    font-size: 1.2rem;
    color: var(--astra-grey-500);
}
li{
    list-style-position: inside;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--astra-grey-600);
}
ul{
    list-style-type: circle;
    margin-bottom: 0.5rem;
}
ol{
    margin-bottom: 0.5rem;
}
.unmarked{
    list-style-type: none;
    padding-left: 1rem;
}
.badge {
    padding: 3px 0.5em;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--astra-blue-500);
    color: var(--astra-grey-100);
}
.footerText{
    margin: 0;
    padding: 1.5rem;
}
/* DISPLAYS */
.inline{
    display: inline;
}
.block{
    display: block;
}
.inlineBlock{
    display: inline-block;
}
.inlineFlex{
    display: inline-flex;
}
.hidden{
    display: hidden;
}
/* BUTTONS */
button, [type="button"],.input[type="submit"]{
    font-size: 15px;
    display: block;
    border-radius: 5px;
    border: none;
    padding: 12px 20px;
    margin: 5px;
    cursor: pointer;
    transition: 0.2s linear;
}
.input[type="submit"], .primaryBtn{
    color: var(--astra-grey-100);
    background-color: var(--astra-blue-500);
}
.input[type="submit"]:hover, .primaryBtn:hover{
    background-color: var(--astra-lightBlue-600);
}
.input[type="submit"]{
    padding: 5px 10px;
}
.secondaryBtn {
    color: var(--astra-blue-500);
    background-color: transparent;
    border: solid 1px var(--astra-blue-500);
}
/* INPUTS */
label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
.inputFooter{
    margin-top: 0.2rem;
    font-size: 14px;
    color: var(--astra-grey-700);
}
/* Applying border and transition */
.input,.select,.textarea{
    border-radius: 5px;
    padding-left: 10px;
    background-color: transparent;
    border: solid 1px var(--astra-grey-300);
    width: 100%;
    height: 30px;
    transition: 0.1s linear;
    font-size: 15px;
}
.input:focus,
.select:focus,
.textarea:focus{
    border: solid 1px var(--astra-lightBlue-500);
    outline: solid 4px var(--astra-lightBlue-300);
}
.input[type="radio"],
.input[type="checkbox"]{
    height: 20px;
    width: 20px;
    border: solid 1px var(--astra-grey-300);
}
.input[type="checkbox"] + label,
.input[type="radio"]+label, 
label .input[type="checkbox"], 
label .input[type="radio"]{
    vertical-align: top;
    padding: 0 0.5rem 0 0.25rem;
}
.input[type="search"]{
    height: 35px;
    padding-left: 15px;
    margin: 0 10px;
    width: 200px !important;
}
.input[type="search"]::placeholder {
    font-size: 15px;
}
.input[type="color"]{
    height: 35px;
    width: 50px;
    padding: 1px;
}
.input[type="time"]{
    width: 100px;
}
.input[type="date"]{
    width: 150px;
}
.input[type="datetime-local"], .input[type="week"]{
    width: 200px;
}
.input[type="range"]:focus,
.input[type="range"]:hover{
    outline: none;
    border: none;
    opacity: 1;
}
.input[type="range"]{
    appearance: none;
    border: none;
    border-radius: 10px;
    height: 0.5rem;
    background-color: var(--astra-grey-300);
    opacity: 0.7;
}
.input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    opacity: 1;
    background-color: var(--astra-blue-500);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.input[type="file"]::file-selector-button, 
.input[type="file"]::-webkit-file-upload-button
{
    background-color: var(--astra-blue-500);
    border: none;
    border-right: 1px solid var(--astra-grey-600);
    color: var(--astra-grey-100);
    padding: 10px 20px;
    border-radius: 5px 0 0 5px;
    transform: translateX(-15px);
    transition: 0.1s linear;
    z-index: 1;
}
.input[type="file"]::file-selector-button:hover,
.input[type="file"]::-webkit-file-upload-button:hover{
    background-color: var(--astra-blue-600);
}
.input[type="file"]:focus, 
.input[type="radio"]:focus{
    outline: none;
}
textarea.input{
    padding: 10px 15px;
    resize: vertical;
    overflow-y: hidden;
}
fieldset{
    outline: none;
    border: none;
}
.input:disabled{
    background-color: var(--astra-grey-200);
}
.input[type="range"]:disabled:focus, .input[type="range"]:disabled:hover{
    opacity: 0.7;
}
.input[type="file"]:disabled::file-selector-button,
.input[type="file"]:disabled::-webkit-file-upload-button
 {
    background-color: var(--astra-grey-500);
}
.input[type="file"]:disabled::file-selector-button:hover,
.input[type="file"]:disabled::-webkit-file-upload-button:hover{
    background-color: var(--astra-grey-500);
}
/* CODE */
code{
    color:var(--astra-code-color);
    font-family: var(--astra-code-font);
}
pre{
    font-family: var(--astra-code-font);
    background-color: var(--astra-grey-100);
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    overflow-x: auto;
}
.line{
    color: var(--astra-grey-700);
    line-height: 1.4rem;
}
pre.html .tag, pre.css .selector{
    color: var(--astra-orange-600);
    line-height: 1.4rem;
}
.atr{
    color: var(--astra-blue-600);
    line-height: 1.4rem;
}
pre.html .value, pre.css .value{
    color: var(--astra-turquoise-600);
    line-height: 1.4rem;
}
pre.css .var{
    color: var(--astra-red-400);
    line-height: 1.4rem;
}
/* ROOTS */
.root {
    max-width: 75%;
    margin: 0 auto;
}
.rootXS {
    max-width: 600px;
    margin: 0 auto;
}
.rootS {
    max-width: 768px;
    margin: 0 auto;
}
.rootM {
    max-width: 992px;
    margin: 0 auto;
}
.rootL {
    max-width: 1200px;
    margin: 0 auto;
}
.rootXL {
    max-width: 1440px;
    margin: 0 auto;
}
.rootFull {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
/* ALIGNMENT */
.centerY {
    align-items: center;
}
.centerX {
    justify-content: center;
}
.center {
    align-items: center;
    justify-content: center;
}
.alignLeft {
    justify-self: left;
    margin-right: auto !important;
}
.alignRight {
    justify-self: right;
    margin-left: auto !important;
}
.alignTop {
    align-self: flex-start !important;
}
.alignBottom {
    align-self: flex-end !important;
}
.stretch{
    align-items: stretch;
}
.around{
    justify-content: space-around;
}
.between{
    justify-content: space-between;
}
.evenly{
    justify-content: space-evenly;
}
.textCenter{
    text-align: center;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
/* FLEX */
.flex, .flexRow {
    display: flex;
    flex-direction: row;
}
.flexColumn {
    display: flex;
    flex-direction: column;
}
.flexRowReverse {
    display: flex;
    flex-direction: row-reverse;
}
.flexColumnReverse {
    display: flex;
    flex-direction: column-reverse;
}
.wrap {
    flex-wrap: wrap;
}
.noWrap{
    flex-wrap: nowrap;
}
/* GRID */
.grid{
    display: grid;
    gap: 5px;
}
.row{
    display: flex;
}
.column{
    flex: 1 0 0%;
}
.overflow{
    overflow: auto;
}
.overflowX{
    overflow-x: auto;
}
.overflowY{
    overflow-y: scroll;
}
/* MARGIN & PADDING */
.margin-1 {
    margin: var(--astra-distance-1);
}
.margin-2 {
    margin: var(--astra-distance-2);
}
.margin-3 {
    margin: var(--astra-distance-3);
}
.margin-4 {
    margin: var(--astra-distance-4);
}
.margin-5 {
    margin: var(--astra-distance-5);
}
.margin-auto{
    margin: auto;
}
.marginTop-1 {
    margin-top: var(--astra-distance-1);
}
.marginTop-2 {
    margin-top: var(--astra-distance-2);
}
.marginTop-3 {
    margin-top: var(--astra-distance-3);
}
.marginTop-4 {
    margin-top: var(--astra-distance-4);
}
.marginTop-5 {
    margin-top: var(--astra-distance-5);
}
.m-top-auto{
    margin-top: auto;
}
.marginBottom-1 {
    margin-bottom: var(--astra-distance-1);
}
.marginBottom-2 {
    margin-bottom: var(--astra-distance-2);
}
.marginBottom-3 {
    margin-bottom: var(--astra-distance-3);
}
.marginBottom-4 {
    margin-bottom: var(--astra-distance-4);
}
.marginBottom-5 {
    margin-bottom: var(--astra-distance-5);
}
.marginBottom-auto {
    margin-bottom: auto;
}
.marginLeft-1 {
    margin-left: var(--astra-distance-1);
}
.marginLeft-2 {
    margin-left: var(--astra-distance-2);
}
.marginLeft-3 {
    margin-left: var(--astra-distance-3);
}
.marginLeft-4 {
    margin-left: var(--astra-distance-4);
}
.marginLeft-5 {
    margin-left: var(--astra-distance-5);
}
.marginLeft-auto {
    margin-left: auto;
}
.marginRight-1 {
    margin-right: var(--astra-distance-1);
}
.marginRight-2 {
    margin-right: var(--astra-distance-2);
}
.marginRight-3 {
    margin-right: var(--astra-distance-3);
}
.marginRight-4 {
    margin-right: var(--astra-distance-4);
}
.marginRight-5 {
    margin-right: var(--astra-distance-5);
}
.marginRight-auto {
    margin-right: var(--astra-distance-3);
}
.marginX-1 {
    margin-left: var(--astra-distance-1);
    margin-right: var(--astra-distance-1);
}
.marginX-2 {
    margin-left: var(--astra-distance-2);
    margin-right: var(--astra-distance-2);
}
.marginX-3 {
    margin-left: var(--astra-distance-3);
    margin-right: var(--astra-distance-3);
}
.marginX-4 {
    margin-left: var(--astra-distance-4);
    margin-right: var(--astra-distance-4);
}
.marginX-5 {
    margin-left: var(--astra-distance-5);
    margin-right: var(--astra-distance-5);
}
.marginX-auto {
    margin-left: auto;
    margin-right: auto;
}
.marginY-1 {
    margin-top: var(--astra-distance-1);
    margin-bottom: var(--astra-distance-1);
}
.marginY-2 {
    margin-top: var(--astra-distance-2);
    margin-bottom: var(--astra-distance-2);
}
.marginY-3 {
    margin-top: var(--astra-distance-3);
    margin-bottom: var(--astra-distance-3);
}
.marginY-4 {
    margin-top: var(--astra-distance-4);
    margin-bottom: var(--astra-distance-4);
}
.marginY-5 {
    margin-top: var(--astra-distance-5);
    margin-bottom: var(--astra-distance-5);
}
.marginY-auto {
    margin-top: auto;
    margin-bottom: auto;
}
.padding-1 {
    padding: var(--astra-distance-1) !important;
}
.padding-2 {
    padding: var(--astra-distance-2) !important;
}
.padding-3 {
    padding: var(--astra-distance-3) !important;
}
.padding-4 {
    padding: var(--astra-distance-4) !important;
}
.padding-5 {
    padding: var(--astra-distance-5) !important;
}
.padding-auto {
    padding: auto !important;
}
.paddingTop-1 {
    padding-top: var(--astra-distance-1) !important;
}
.paddingTop-2 {
    padding-top: var(--astra-distance-2) !important;
}
.paddingTop-3 {
    padding-top: var(--astra-distance-3) !important;
}
.paddingTop-4 {
    padding-top: var(--astra-distance-4) !important;
}
.paddingTop-5 {
    padding-top: var(--astra-distance-5) !important;
}
.paddingTop-auto {
    padding-top: auto !important;
}
.paddingBottom-1 {
    padding-bottom: var(--astra-distance-1) !important;
}
.paddingBottom-2 {
    padding-bottom: var(--astra-distance-2) !important;
}
.paddingBottom-3 {
    padding-bottom: var(--astra-distance-3) !important;
}
.paddingBottom-4 {
    padding-bottom: var(--astra-distance-4) !important;
}
.paddingBottom-5 {
    padding-bottom: var(--astra-distance-5) !important;
}
.paddingBottom-auto {
    padding-bottom: auto !important;
}
.paddingLeft-1 {
    padding-left: var(--astra-distance-1) !important;
}
.paddingLeft-2 {
    padding-left: var(--astra-distance-2) !important;
}
.paddingLeft-3 {
    padding-left: var(--astra-distance-3) !important;
}
.paddingLeft-4 {
    padding-left: var(--astra-distance-4) !important;
}
.paddingLeft-5 {
    padding-left: var(--astra-distance-5) !important;
}
.paddingLeft-auto {
    padding-left: auto !important;
}
.paddingRight-1 {
    padding-right: var(--astra-distance-1) !important;
}
.paddingRight-2 {
    padding-right: var(--astra-distance-2) !important;
}
.paddingRight-3 {
    padding-right: var(--astra-distance-3) !important;
}
.paddingRight-4 {
    padding-right: var(--astra-distance-4) !important;
}
.paddingRight-5 {
    padding-right: var(--astra-distance-5) !important;
}
.paddingRight-auto {
    padding-right: auto !important;
}
.paddingX-1 {
    padding-left: var(--astra-distance-1) !important;
    padding-right: var(--astra-distance-1) !important;
}
.paddingX-2 {
    padding-left: var(--astra-distance-2) !important;
    padding-right: var(--astra-distance-2) !important;
}
.paddingX-3 {
    padding-left: var(--astra-distance-3) !important;
    padding-right: var(--astra-distance-3) !important;
}
.paddingX-4 {
    padding-left: var(--astra-distance-4) !important;
    padding-right: var(--astra-distance-4) !important;
}
.paddingX-5 {
    padding-left: var(--astra-distance-5) !important;
    padding-right: var(--astra-distance-5) !important;
}
.paddingX-auto {
    padding-left: auto !important;
    padding-right: auto !important;
}
.paddingY-1 {
    padding-top: var(--astra-distance-1) !important;
    padding-bottom: var(--astra-distance-1) !important;
}
.paddingY-2 {
    padding-top: var(--astra-distance-2) !important;
    padding-bottom: var(--astra-distance-2) !important;
}
.paddingY-3 {
    padding-top: var(--astra-distance-3) !important;
    padding-bottom: var(--astra-distance-3) !important;
}
.paddingY-4 {
    padding-top: var(--astra-distance-4) !important;
    padding-bottom: var(--astra-distance-4) !important;
}
.paddingY-5 {
    padding-top: var(--astra-distance-5) !important;
    padding-bottom: var(--astra-distance-5) !important;
}
.paddingY-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
}
/* SIZING */
button.xs,button.s {
    height: 40px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
button.m, button {
    height: 48px;
    padding-left: 1rem;
    padding-right: 1rem;
}
button.l,button.xl {
    height: 56px;
    padding-left: 2rem;
    padding-right: 2rem;
}
.input.xs,.input.s{
    height: 25px;
}
.input.m{
    height: 30px;
}
.input.l,.input.xl{
    height: 40px;
}
.input[type="range"].xs, .input[type="range"].s{
    height: 5px;
}
.input[type="range"].xs::-webkit-slider-thumb, .input[type="range"].s::-webkit-slider-thumb{
    height: 12px;
    width: 12px;
}
.input[type="range"].xl, .input[type="range"].l{
    height: 12px;
}
.input[type="range"].xl::-webkit-slider-thumb, .input[type="range"].l::-webkit-slider-thumb{
    height: 20px;
    width: 20px;
}
/* TEXT COLORS */
.white{
    color: var(--astra-grey-100) !important;
}
.red{
    color: var(--astra-red-500) !important;
}
.blue{
    color: var(--astra-blue-500) !important;
}
.green{
    color: var(--astra-green-500) !important;
}
.yellow{
    color: var(--astra-yellow-500) !important;
}
.turquoise{
    color: var(--astra-turquoise-500) !important;
}
.violet{
    color: var(--astra-violet-500) !important;
}
.pink{
    color: var(--astra-pink-500) !important;
}
.orange{
    color: var(--astra-orange-500) !important;
}
.lightBlue{
    color: var(--astra-lightBlue-500) !important;
}
.grey{
    color: var(--astra-grey-600) !important;
}
.transparent{
    background-color: transparent;
}
/*  NAVBARS */
.header{
    z-index: 500;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}
.navbarLink {
    text-decoration: none;
    transition: 0.5s ease-in;
    color: var(--astra-grey-500);
    padding: 0.5rem 1rem;
    margin-bottom: 0;
}
.stickyTop {
    position: sticky;
    top: 0;
}
.dark {
    color: var(--astra-grey-900);
}
.active {
    color: var(--astra-grey-300);
}
.bLine {
    border-bottom: solid 1px var(--astra-grey-300);
} 
.navbarPills .navbarLink{
    color: var(--astra-blue-500);
    font-size: 15px;
    margin-bottom: 0;
}
.navbarPills .active{
    background-color: var(--astra-blue-500);
    color: var(--astra-grey-100);
    border-radius: 5px;
    margin-bottom: 0;
}
.name, .brand{
    margin: 0 0 0 0.5rem;
}
.navbarToggler{
    background-image: url("https: //cdn.jsdelivr.net/gh/ImLecus/Astra/icons/dark/toggler.svg");
}
/* SPACES */
.space-10, .spaceXS{
    display: hidden;
    height: 10px;
    width: 100%;
}
.space-25, .spaceS {
    display: hidden;
    height: 25px;
    width: 100%;
}
.space-50, .spaceM {
    display: hidden;
    height: 50px;
    width: 100%;
}
.space-100, .spaceL {
    display: hidden;
    height: 100px;
    width: 100%;
}
.space-250, .spaceXL {
    display: hidden;
    height: 250px;
    width: 100%;
}
/* TABLES */
.table{
    width: 100%;
    border-spacing: 0;
}
.table *{
    padding: 10px 2px;
    outline: none;
    border: none;
}
.table.striped>*>tr>th{
    border-bottom: 1px solid var(--astra-grey-300);
    background-color: var(--astra-grey-200);
}
.table.striped>tbody>tr:nth-of-type(odd)>*{
    background-color: var(--astra-grey-100);
}
.table>tbody>tr>th{
    font-weight: 400;    
}
.table>tbody>tr>:nth-child(1){
    font-weight: bold;
    width: 40px;
}
.table.dark{
    background-color: var(--astra-grey-900);
    color: var(--astra-grey-100);
}
.table.striped.dark{
    background-color: var(--astra-grey-900);
    color: var(--astra-grey-100);
}
.table.striped.dark>*>tr>th {
    border-bottom: 1px solid var(--astra-grey-700);
    background-color: var(--astra-grey-900);
}
.table.striped.dark>tbody>tr:nth-of-type(odd)>* {
    background-color: var(--astra-grey-800);
}
.table.border{
    border-top: 1px solid var(--astra-grey-300);
    border-left: 1px solid var(--astra-grey-300);
}
.table.border>*>tr>th{
    border-right: 1px solid var(--astra-grey-300);
    border-bottom: 1px solid var(--astra-grey-300);
}
.table.dark.border{
    border-top: 1px solid var(--astra-grey-600);
    border-left: 1px solid var(--astra-grey-600);
}
.table.dark.border>*>tr>th {
    border-right: 1px solid var(--astra-grey-600);
    border-bottom: 1px solid var(--astra-grey-600);
}
/* ALERTS */
.alert{
    width: 100%;
    background-color: var(--astra-grey-200);
    border: 1px solid var(--astra-grey-400);
    border-radius: 10px;
    padding: 20px;
    color: var(--astra-grey-700);
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}
.alert button.close{
    width: 15px;
    height: 15px;
    margin: 0 0 0 auto;
    background-color: transparent;
    vertical-align: baseline;
    padding: 0 10px 0 0;
    opacity: 1;
}
button.close{
    background-image: url("https://cdn.jsdelivr.net/gh/ImLecus/Astra/icons/dark/close.svg");
}
.alert.red{
    background-color: var(--astra-red-200);
    color: var(--astra-red-700) !important;
    border-color: var(--astra-red-300) !important;
}
.alert.orange{
    background-color: var(--astra-orange-200);
    color: var(--astra-orange-700) !important;
    border-color: var(--astra-orange-500) !important;
}
.alert.yellow{
    background-color: var(--astra-yellow-200);
    color: var(--astra-yellow-800) !important;
    border-color: var(--astra-yellow-500) !important;
}
.alert.green{
    background-color: var(--astra-green-200);
    color: var(--astra-green-800) !important;
    border-color: var(--astra-green-500) !important;
}
.alert.turquoise{
    background-color: var(--astra-turquoise-200);
    color: var(--astra-turquoise-800) !important;
    border-color: var(--astra-turquoise-500) !important;
}
.alert.blue{
    background-color: var(--astra-blue-200);
    color: var(--astra-blue-800) !important;
    border-color: var(--astra-blue-500) !important;
}
.alert.violet {
    background-color: var(--astra-violet-200);
    color: var(--astra-violet-800) !important;
    border-color: var(--astra-violet-500) !important;
}
.alert.pink {
    background-color: var(--astra-pink-200);
    color: var(--astra-pink-800) !important;
    border-color: var(--astra-pink-500) !important;
}
/* INPUT VALIDATION */
.input.valid{
    border-color: var(--astra-turquoise-600) !important;
    background-image: url("https://cdn.jsdelivr.net/gh/ImLecus/Astra/icons/valid.svg");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
}
.input.valid:focus{
    outline-color: var(--astra-turquoise-200) !important;
}
.input.invalid{
    border-color: var(--astra-red-600) !important;
}
.input.invalid:focus{
    outline-color: var(--astra-red-200) !important;
}
.input.validation{
    background-position: right calc(.375em + .1875rem) center;
}
.input[type="date"].validation, 
.input[type="datetime-local"].validation,
.input[type="time"].validation,
.input[type="week"].validation
{
    background-position: right calc(1em + .1875rem) center;
}
/* WIDTH AND HEIGHT */
.w-auto{
    width: auto;
}
.h-auto{
    height: auto;
}
.w-half{
    width: 50%;
}
.h-half{
    height: 50%;
}
/* SHADOWS */
.shadowS, .shadowXS {
    filter: drop-shadow(0px var(--astra-distance-1) calc(var(--astra-distance-1)*3) #777777aa);
}
.shadowM, .shadow{
    filter: drop-shadow(0px var(--astra-distance-2) calc(var(--astra-distance-1)*3) #777777aa);
}
.shadowL, .shadowXL {
    filter: drop-shadow(0px var(--astra-distance-3) calc(var(--astra-distance-1)*3) #777777aa);
}
.shadowTopS, .shadowTopXS {
    filter: drop-shadow(0px calc(var(--astra-distance-1)*-1) calc(var(--astra-distance-1)*3) #777777aa);
}
.shadowTopM, .shadowTop{
    filter: drop-shadow(0px calc(var(--astra-distance-2)*-1) calc(var(--astra-distance-1)*3) #777777aa);
}
.shadowTopL, .shadowTopXL {
    filter: drop-shadow(0px calc(var(--astra-distance-3)*-1) calc(var(--astra-distance-1)*3) #777777aa);
}
/* SIDEBARS */
.sidebar{
    height: calc(100vh - 6rem);
    position: sticky;
    top: 6rem;
    padding-right: 2rem;
    float: left;
    width: 25%;
}